body {
  margin: 0;
  overflow: hidden;
  touch-action: none; /* no touch manipulation */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #19D1D9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #004987;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00D57E;
}


.btn-try-again{
  background-image: url('assets/img/6.Botones/Try again/Recurso 15.png');
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 0.3rem;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border-style: none;
  height: 38px;
  width: 160px;
}


.btn-continue{
  background-image: url('assets/continue.png');
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 0.3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border-style: none;
  height: 33px;
  width: 100px;
}

.btn-start{
  background-image: url('assets/img/6.Botones/Start/3.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border-style: none;
  height: 33px;
  width: 100px;
}

.btn-legal-notice{
  background-image: url('assets/legal-notice-chat.png');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100%;
  cursor: pointer;
  border-style: none;
  height: 46px;
  width: 100px;
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%, -50%);
}

#canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

.legal-notice {
  height: 50%;
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 4px #FFC049;
  border-style: solid;
  background-color: #46E9D9;
}

.legal-notice-text{
  overflow-y: scroll;
  height: 80%;
}

header{
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #46E9D9;
}

.close-button{
    cursor: pointer;
}

.close-icon{
    background-color: #FFC049;
    border-radius: 1.5rem;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.img-phone{
  height: 100px;
  animation-name: turn;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.text-white{
  color: rgba(238, 242, 243, 0.897);
}


#panel{
    position: absolute;
    bottom: 0;
    width: 100%;
}


.trackpad{
  display: flex;
  justify-content: space-between;
}

#joystick {
  position: relative;
  width: 122px;           /* pad size */
  height: 122px;
  border-radius: 50%;
  border: 2px solid #888;
}

#stick {
  position: absolute;
  left: 50%; 
  top: 50%;
  width: 64px; 
  height: 64px;     /* thumb size */
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid #555;
  background: rgba(0,0,0,0.5);
  transition: transform 80ms linear; /* kleiner Snap-Effekt beim Loslassen */
  pointer-events: none; /* damit Touches auf dem Pad landen */
}

.abilities{
  width: 25%;
  display: flex;
  gap: 16px;
}

#finslap{
 position: relative;
width: 50%;
border: 2px solid #555;
border-radius: 50%;
}

#bubbleshoot{
 position: relative;
  width: 50%;
  border: 2px solid #555;
  border-radius: 50%;
}


@keyframes turn {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(90deg);
  }
}



@media screen and (orientation:portrait) {
    .landscape{
      height: 100svh;
      width: 100%;
      background-color: rgb(0,0,0,0.8);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    button{
      display: none;
    }
}

@media screen and (orientation:landscape) {
      .landscape{
      display: none;
    }
}


/* @media only screen and (max-width: 720px){
  #canvas{
    width: 100%;
  }
}


@media only screen and (max-height: 480px){
  #canvas{
    height: 100svh;
  }
} */


