body {
  margin: 0;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #19D1D9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #004987;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00D57E;
}



#canvas {
  width: 100vw;
  height: 100vh;
}

.legal-notice {
  height: 50%;
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 4px #FFC049;
  border-style: solid;
  background-color: #46E9D9;
}

.legal-notice-text{
  overflow-y: scroll;
  height: 80%;
}

header{
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #46E9D9;
}

.close-button{
    cursor: pointer;
}

.close-icon{
    background-color: #FFC049;
    border-radius: 1.5rem;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}