body {
  margin: 0;
  overflow: hidden;
  touch-action: none; /* no touch manipulation */
  font-family: "luckiest-guy", cursive;
}

@font-face {
  font-family: "luckiest-guy";
  src: url("assets/font/LuckiestGuy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #d89538;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #004987;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #00d57e;
}

h1 {
  font-size: 64px;
  color: #fcee21;
}

.menu-background {
  background-image: url("assets/img/background.png");
  background-repeat: round;
  background-size: cover;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 24px;
}

.hero-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 28% !important;
}

.hero {
  background-image: url("assets/img/sharkie-background.png");
  background-repeat: round;
  background-size: cover;
  height: 80px;
  width: 160px;
}

#canvas {
  width: 100dvw;
  height: 100dvh;
  display: block;
}

.legal-notice {
  font-family: sans-serif;
  width: 72%;
  border: 4px #ffc049;
  border-style: solid;
  background-color: #c48630;
}

#attribution-list{
  text-align: left;
}

.legal-notice-text {
  overflow-y: scroll;
  height: 70vh;
  padding: 8px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #46e9d9;
}

.legal-notice-closebar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.center-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.img-phone {
  height: 100px;
  animation-name: turn;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.text-white {
  color: rgba(238, 242, 243, 0.897);
}

#panel-top {
  position: absolute;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: end;
  margin: 24px 0 0 -24px;
  gap: 16px;
  width: 100%;
  position: absolute;
}

.range-container{
  height: 20vh;
}


@keyframes turn {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(90deg);
  }
}

@media screen and (orientation: portrait) {
  .landscape {
    height: 100svh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button {
    display: none;
  }
}


.align-center{
  align-items: center;
}

@media screen and (orientation: landscape) {
  .landscape {
    display: none;
  }
}

/* @media only screen and (max-width: 720px){
  #canvas{
    width: 100%;
  }
}


@media only screen and (max-height: 480px){
  #canvas{
    height: 100svh;
  }
} */
